.logo-game-cards-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.logo-game-card {
  padding: 15px;
  font-size: 60px;
  margin: 5px;
  margin-right: 20px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  cursor: pointer;
  color: #3c0078;
}

.logo-game-card--slot {
  margin: 0;
  box-sizing: border-box;
  border-style: dotted;
  color: #fff;
  box-shadow: none;
}

.logo-game-logo-area {
  margin-top: 50px;
}